{% extends 'main/base.html' %} {% load static %} {% block title %}О проекте
CropDrop{% endblock %} {% block content %}
<div class="about-section">
  <h1>О проекте CropDrop</h1>

  <p>
    CropDrop — это инновационная система для умного орошения
    сельскохозяйственных культур, основанная на IoT технологиях. Система
    позволяет эффективно контролировать влажность почвы, обеспечивать
    оптимальные условия для роста растений и значительно экономить ресурсы.
  </p>

  <div class="social-media-links">
    <h2>Следите за нами</h2>
    <ul>
      <li>
        <a
          href="https://www.instagram.com/cropdrop_nisa?igsh=MTM1YmVidHRnM3Z3ZQ=="
          class="social-link"
          >Instagram</a
        >
      </li>
    </ul>
  </div>

  <div class="project-goals">
    <h2>Цели проекта</h2>
    <ul>
      <li>Снижение потребления воды в сельском хозяйстве.</li>
      <li>Обеспечение точного контроля за состоянием почвы и растений.</li>
      <li>Стимулирование устойчивого развития аграрного сектора.</li>
    </ul>

    <h2>Свяжитесь с нами</h2>
    <ul>
      <li>Email: cropdrop@gmail.com</li>
    </ul>
  </div>

  <div class="team-section">
    <h2>Наша команда</h2>
    <p>
      Наша команда состоит из профессионалов в области сельского хозяйства,
      технологий и инженерии, работающих над созданием эффективных решений для
      агросектора.
    </p>
    <div class="team-members">
      <div class="team-member">
        <img
          src="{% static 'images/segmo.jpg' %}"
          alt="Участник 1"
          class="team-member-img"
        />
        <h3>Альнур Шахманова</h3>
        <p class="role">Руководитель проекта</p>
        <p class="contact">Email: alnur.shakhmanova@gmail.com</p>
      </div>

      <div class="team-member">
        <img
          src="{% static 'images/raze.jpeg' %}"
          alt="Участник 2"
          class="team-member-img"
        />
        <h3>Рустам Джолдасбеков</h3>
        <p class="role">Главный инженер</p>
        <p class="contact">Email: psychorazed@gmail.com</p>
      </div>

      <div class="team-member">
        <img
          src="{% static 'images/segmo.jpg' %}"
          alt="Участник 3"
          class="team-member-img"
        />
        <h3>Zere Idelbayeva</h3>
        <p class="role">Дизайнер</p>
        <p class="contact">Email: zere.idelbayeva@gmail.com</p>
      </div>

      <div class="team-member">
        <img
          src="{% static 'images/segmo.jpg' %}"
          alt="Участник 4"
          class="team-member-img"
        />
        <h3>Dias Muttakhidenov</h3>
        <p class="role">Дизайнер</p>
        <p class="contact">Email: dias.muttakhidenov@gmail.com</p>
      </div>

      <div class="team-member">
        <img
          src="{% static 'images/segmo.jpg' %}"
          alt="Участник 5"
          class="team-member-img"
        />
        <h3>Nurali Nun</h3>
        <p class="role">Дизайнер</p>
        <p class="contact">Email: nurali.nun@gmail.com</p>
      </div>

      <div class="team-member">
        <img
          src="{% static 'images/segmo.jpg' %}"
          alt="Участник 6"
          class="team-member-img"
        />
        <h3>KasymZhomart Abdulla</h3>
        <p class="role">Дизайнер</p>
        <p class="contact">Email: KasymZhomart@gmail.com</p>
      </div>

      <div class="team-member">
        <img
          src="{% static 'images/segmo.jpg' %}"
          alt="Участник 7"
          class="team-member-img"
        />
        <h3>Altynai Askar</h3>
        <p class="role">Дизайнер</p>
        <p class="contact">Email: altynai@gmail.com</p>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
